@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0em;
}

::-webkit-scrollbar-thumb {
  background: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

@layer base {
  body {
    @apply bg-ghostWhite dark:bg-eerieBlack text-eerieBlack dark:text-white;
  }

  a {
    @apply relative hover:text-richElectricBlue font-medium transition-all duration-300 ease-in-out;
  }

  a::before {
    content: '';
    @apply absolute left-0 bottom-0 w-full h-[2px] bg-richElectricBlue scale-x-0 transform origin-right transition-transform duration-300 ease-in-out;
  }

  a:hover::before {
    @apply scale-x-100 origin-left;
  }
}

@layer components {
  .centered-circle {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
  }

  .footer-link::before {
    content: '';
    @apply absolute left-0 bottom-0 w-full h-[2px] bg-white scale-x-0 transform origin-right transition-transform duration-300 ease-in-out;
  }

  .footer-link:hover::before {
    @apply scale-x-100 origin-left;
  }

  .hover-bg-shadow {
    @apply transition-all duration-300 ease-in-out hover:bg-chineseWhite hover:bg-opacity-30 hover:shadow-md dark:hover:bg-chineseWhite dark:hover:bg-opacity-30 dark:hover:shadow-md-dark;
  }

  .hover-shadow {
    @apply transition-transform duration-300 ease-in-out hover:-translate-y-[2px] hover:shadow-md dark:hover:shadow-md-dark;
  }

  .hover-shadow-body {
    @apply transition-transform duration-300 ease-in-out hover:-translate-y-[2px] hover:shadow-lg dark:hover:shadow-lg-dark;
  }
}